.header {
    background-color: rgb(147, 211, 234);
    padding: 20px;
    position: absolute;
    text-align: center;
    left : 0%;
    right : 0%;
    top : 0%; 
  }
  .toy {
    background-color: rgb(159, 200, 211);
    position: absolute;
    width: 1233px;
    height: 422px;
    top : 27.5%;
    border: 2px solid black;
    padding: 10px;
    left : 0%;
    right: 0%;
    text-align: center;
    line-height: 100px;
  }
  .fifi{ 
    position: absolute;
    top:  23%;
    left : 15%;
    width : 150px;
    height : 50px;
  }
  .messi{
    position : absolute;
    top : 23%;
    left : 45%;
    width : 150px;
    height : 50px;

  }
  .hilli{
    position : absolute;
    top : 23%;
    right : 15%;
    width : 150px;
    height : 50px
  }
  .ing{
    position: absolute;
    left :45%;
    width : 150px;
    height : 50px;
}
  .ng{
    position : absolute ;
    right : 15%;
    width : 150px;
    height : 50px;
  }
  .king{
    position : absolute ;
    left : 15%;
    width : 150px;
    height : 50px;
  }